<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvCHrgr0PDDvC_ewBcFffBFMdb9DLGZyo</string>
	<key>GCM_SENDER_ID</key>
	<string>896657963986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mannpakad</string>
	<key>PROJECT_ID</key>
	<string>mannpakad</string>
	<key>STORAGE_BUCKET</key>
	<string>mannpakad.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896657963986:ios:cbffff1de551cf4393260b</string>
	<key>DATABASE_URL</key>
	<string>https://mannpakad-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>